/* nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 1em;
}

html, body {
    margin: 0;
    padding: 0;
}

.box {
    border: 1px solid blue;
    height: 300px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

@media(min-width: 0px) {
    .box {
        width: 100%;
    }
}

@media(min-width: 1000px) {
    .box {
        width: 33%;
    }
}

@media(min-width: 1400px) {
    .box {
        width: 25%;
    }
} */


nav {
    background-color: green;
}

.left {
    background-color: yellow;
    width: 300px;
 
}

.right {
    background-color: blue;
  
}

footer {
    background-color: red;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
}

